.clue {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px -2px #333;
    border: 2px solid rgba(255, 255, 255, 0.3);
    padding: 1rem 2rem;
    text-align: center;
    width: 100%;
}

.clue > .clue-solution {
    border-top: 1px solid white;
    margin-top: 1rem;
    padding-top: 1rem;
}
