.skill-grid {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 5px;
    width: 100%;
}

.skill {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    white-space: nowrap;
    height: 55px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    margin: 2px;
    padding: 0.25rem 0.5rem;
}

.skill__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.5rem 0.25rem;
}

.skill:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.2);
}

.skill:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.1);
}

.skill__inner>img {
    vertical-align: sub;
    height: 25px;
}

.skill__inner-level {
    font-size: 25px;
}

.skill__hover {
    display: none;
    position: absolute;
    top: 115%;
    left: 50%;
    background: rgba(25, 25, 25, 0.95);
    z-index: 10;
    padding: 0.25rem 0.5rem;
    border: 1px solid white;
    color: #eee;
    transform: translateX(-50%);
    border-radius: 3px;
}

.skill:hover .skill__hover {
    display: block;
}

.skill__hover>table {
    border-spacing: 0 5px;
    border-collapse: collapse;
}

.skill__hover>table>tbody>tr:not(:last-child) {
    border-bottom: 1px solid white;
}

.skill__hover>table>tbody>tr>td:first-child {
    text-align: left;
}

.skill__hover>table>tbody>tr>td:last-child {
    text-align: right;
    padding-left: 1rem;
}

@media (min-width: 1200px) {
    .skill {
        height: auto;
        width: auto;
    }

    .skill__inner>img {
        height: 30px;
        margin-right: 15px;
    }

    .skill__inner-level {
        font-size: 30px;
    }
}